= form_for [object.user, object], remote: true, html: { class: 'tr' } do |f|
  %span.td
    = f.date_field :trip_date, class: 'form-control', required: true
  %span.td
    = f.text_field :alias, class: 'form-control', required: true
  %span.td
    = f.number_field :distance_in_kilometer, class: 'form-control', step: 0.001, required: true
  %span.td
    = f.submit 'Save trip', class: 'btn btn-sm btn-primary'
