.tr{:id => dom_id(trip)}
  %span.td
    = trip.trip_date
  %span.td
    = trip.from
  %span.td
    = trip.to
  %span.td
    = trip.distance_in_kilometer
  %span.td
    .nowrap
      = render "trips/actions", trip: trip
