.container
  %h3 Scoreboard
  %p
    .card-deck-wrapper
      .card-deck
        = yellow_jersey_card(@yellow_jersey)
        = polka_dot_jersey_card(@polka_dot_jersey)
        = green_jersey_card(@green_jersey)

  %p
    .card-deck-wrapper
      .card-deck
        = pink_jersey_card(@pink_jersey)
        = white_jersey_card(@white_jersey)
        = grey_jersey_card(@grey_jersey)
