.container
  %h3 Company progress
  = form_tag(scoreboard_path, {method: :get}) do |f|
    .form-group.row
      %label.col-sm-1.col-form-label.col-form-label-sm
        Season:
      .col-sm-11
        = select_tag('season', options_from_collection_for_select(@seasons, :id, :display_name, (@selected_season.id if @selected_season)), {onchange: 'this.form.submit()', class: 'form-control form-control-sm'})
  %p
    = "Current distance: <strong>#{meter_to_kilometer(@current_meters)}/#{pretty_number(15000)} km</strong>".html_safe
    .progress
      .progress-bar{style: "width: #{(@current_meters.to_f/(15*1000*1000))*100}%", "aria-valuemin" => 0, "aria-valuemax" => 15000000, "aria-valuenow" => @current_meters}
  %h3 Scoreboard
  %p
    .card-deck
      = yellow_jersey_card(@yellow_jersey)
      = polka_dot_jersey_card(@polka_dot_jersey)
      = green_jersey_card(@green_jersey)

  %p
    .card-deck
      = pink_jersey_card(@pink_jersey)
      = white_jersey_card(@white_jersey)
      = grey_jersey_card(@grey_jersey)
