.container
  %h3 Progress
  %p
    = "Current distance: <strong>#{meter_to_kilometer(@current_meters)}/1000 km</strong>".html_safe
    .progress
      .progress-bar{style: "width: #{(@current_meters.to_f/(1*1000*1000))*100}%", "aria-valuemin" => 0, "aria-valuemax" => 15000000, "aria-valuenow" => @current_meters}
  %p
    .card-deck
      .card.text-xs-center
        .card-header
          Total distance
        .card-block
          %h4.card-title= "#{pretty_number(meter_to_kilometer(@current_meters))} km"
      .card.text-xs-center
        .card-header
          Days biked
        .card-block
          %h4.card-title= @days_cycled
      .card.text-xs-center
        .card-header
          Largest distance on a single day
        .card-block
          %h4.card-title= "#{pretty_number(meter_to_kilometer(@largest_distance_in_one_day))} km"
