%nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse.fixed-top
  %button.navbar-toggler.navbar-toggler-right{ data: { target: '#navigation', toggle: 'collapse' }, type: 'button' }
    %span.navbar-toggler-icon
  =link_to 'Eddy', root_path, class: 'navbar-brand'
  #navigation.collapse.navbar-collapse
    %ul.nav.navbar-nav.mr-auto
      %li.nav-item
        = link_to('Scoreboard', scoreboard_path, class: 'nav-link')
      - if user_signed_in?
        %li.nav-item
          = link_to('Progress', user_path(current_user), class: 'nav-link')
        %li.nav-item
          = link_to('Trips', user_trips_path(current_user), class: 'nav-link')
        %li.nav-item
          = link_to('Routes', user_routes_path(current_user), class: 'nav-link')

    - if user_signed_in?
      %ul#manage-account-dropdown.nav.navbar-nav
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{ data: {toggle: 'dropdown'}, role: 'button', aria: { haspopup: true, expanded: false } }
            Manage account
          .dropdown-menu
            = link_to 'Edit', edit_user_registration_path, class: 'dropdown-item'
            .dropdown-divider
            = link_to 'Logout', destroy_user_session_path, class: 'dropdown-item', method: :delete

    %span
      - if user_signed_in?
        = link_to "#{fa_icon 'plus'} Add new trip".html_safe, user_trips_path(current_user), class: "btn btn-outline-primary"
      - else
        = link_to "#{fa_icon 'sign-in'} Sign in".html_safe, new_user_session_path, class: "btn btn-outline-success"
