%nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  %button.navbar-toggler.hidden-sm-up{"data-target" => "#navigation", "data-toggle" => "collapse", :type => "button"}
    \☰
  #navigation.collapse.navbar-toggleable-xs
    =link_to 'Eddy', root_path, class: 'navbar-brand'
    %ul.nav.navbar-nav
      %li.nav-item
        %a.nav-link{href: "#"} Scoreboard
      %li.nav-item
        %a.nav-link{href: "#"} History
      - if user_signed_in?
        %li.nav-item
          %a.nav-link{href: "#"} Progress
        %li.nav-item
          = link_to("Trips", user_trips_path(current_user), class: 'nav-link')
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true", "aria-expanded" => "false" }
            Configure
          .dropdown-menu
            = link_to "Locations", user_locations_path(current_user), class: "dropdown-item"
            = link_to "Routes", user_routes_path(current_user), class: "dropdown-item"

    .pull-xs-right
      - if user_signed_in?
        = link_to "#{fa_icon 'plus'} Add new ride".html_safe, '', class: "btn btn-primary-outline"
      - else
        = link_to "Login", new_user_session_path, class: "btn btn-success-outline"

    - if user_signed_in?
      %ul.nav.navbar-nav.pull-xs-right
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true", "aria-expanded" => "false" }
            Manage account
          .dropdown-menu
            = link_to 'Edit', edit_user_registration_path, class: "dropdown-item"
            .dropdown-divider
            = link_to 'Logout', destroy_user_session_path, class: "dropdown-item", method: :delete
